<novo-data-table 
[dataTableService]="stat"
[columns]="sharedColumns"
[hideGlobalSearch]="globalSearchEnabled"
[displayedColumns]="sharedDisplayColumns" 
[paginationOptions]="sharedPaginationOptions"
name="demo-basic-rows">

<!-- Bolding note action type and joining the body-->
<ng-template novoTemplate="action"
               let-row
               let-col="col">
    <p *ngIf="row.lookupref=='Note'"><b>{{row.action}}</b>  - {{row.comments}}</p>
    <p *ngIf="row.lookupref=='Appointment'"><b>{{row.type}}</b>  - {{row.dateBegin}}</p>
    <p *ngIf="row.lookupref=='Task'"><b>{{row.action}}</b>  - {{row.dateBegin}}</p>
    <p *ngIf="row.lookupref=='Shortlist'"><b>{{row.action}}</b></p>
    <!-- <p *ngIf="row.lookupref!='Note'">{{row.action}}</p> -->
  </ng-template>

  
  <!-- adding as the lookupref -->
  <ng-template novoTemplate="lookupref"
               let-row
               let-col="col">
    <i *ngIf="row.lookupref=='Appointment'" class="bhi-interview"></i>
    <i *ngIf="row.lookupref=='Note'" class="bhi-note"></i>
    <i *ngIf="row.lookupref=='Shortlist'" class="bhi-star-o"></i>
    <i *ngIf="row.lookupref=='Sendout'" class="bhi-sendout"></i>
    <i *ngIf="row.lookupref=='Task'" class="bhi-check-o"></i>
     {{row.lookupref}}
  </ng-template>
</novo-data-table>